.modal {
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 600ms linear 600ms;
  -moz-transition: opacity 600ms linear 600ms;
  -ms-transition: opacity 600ms linear 600ms;
  -o-transition: opacity 600ms linear 600ms;
  transition: opacity 600ms linear 600ms;
  z-index: 20;
  font-family: Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "STXihei", "华文细黑";
}

.modal_content {
  box-shadow:5px 5px 16px rgba(0, 0, 0, 0.6);
}

.modal_info {
  background: #FCF9F2;
  display: flex;
  display: -webkit-flex;
}

.modal_userinfo {
  float: left;
  text-align: center;
}

.modal_userinfo img {
  display: block;
}

.modal_userinfo .modal-username {
  padding-top: 30px;
  color:#333;
  font-size: 35px;
  height:93px;
  background-color: white;
}

.modal_desc {
  width:100%;
}

.modal_desc .roll-left {
  text-align: left;
  flex:2;
}
.modal_desc .roll-right {
  flex:7;
  line-height: 24px;
  text-align: left;
}

.modal_desc .modify-desc {
  padding: 5px;
  box-shadow: 1px 1px 1px 1px #333;
  margin-left: 25px;
}

.modal_overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index:  10;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.display {
  opacity: 1;
  visibility: visible;
}

.conceal {
  visibility: hidden;
}

.btn_container {
  height: 100%;
  text-align: center;
}

.btn_container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.open_button {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  vertical-align: middle;
  whitespace: normal;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

button.modal_close {
  background: #363D4E;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 30px;
  top: 30px;
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  -o-transition: -o-transform 600ms;
  transition: transform 600ms;
  margin: -50px;
}

button.modal_close:hover {
  background: #3E465A;
  -webkit-transform: rotate(360deg) scale(1.10);
  -moz-transform: rotate(360deg) scale(1.10);
  -ms-transform: rotate(360deg) scale(1.10);
  -o-transform: rotate(360deg) scale(1.10);
  transform: rotate(360deg) scale(1.10);
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  -o-transition: -o-transform 600ms;
  transition: transform 600ms;
}

button.modal_close span, span:before, span:after {
  background: #FFFFFF;
  content: '';
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 20px;
}

button.modal_close span:first-child {
  background: none;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

button.modal_close span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

button.modal_close span:after {
  -webkit-transform: translateY(-2px) rotate(-45deg);
  -moz-transform: translateY(-2px) rotate(-45deg);
  -ms-transform: translateY(-2px) rotate(-45deg);
  -o-transform: translateY(-2px) rotate(-45deg);
  transform: translateY(-2px) rotate(-45deg);
  top: 2px;
}

/*rolling down list*/

@-moz-keyframes rolldown {
  0% {
    visibility: visible;
    -moz-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -moz-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rolldown {
  0% {
    visibility: visible;
    -webkit-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes rolldown {
  0% {
    visibility: visible;
    -moz-transform: rotateX(180deg) perspective(500px);
    -ms-transform: rotateX(180deg) perspective(500px);
    -webkit-transform: rotateX(180deg) perspective(500px);
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -moz-transform: rotateX(-20deg);
    -ms-transform: rotateX(-20deg);
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
/*    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);*/
    transform: rotateX(0deg);
  }
}

.rolldown-list {
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  visibility: hidden;
  height:74.7px;

  font-size: 20px;
  -moz-animation: rolldown 0.7s 1;
  -webkit-animation: rolldown 0.7s 1;
  animation: rolldown 0.7s 1;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rolldown-list .long-list {
  height: 149.4px;
}

.rolldown-list li:nth-child(2n) {
  background-color: #77adda;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: #337ab7;
}

/*modal button*/

#modal-button {
  position: fixed;
  z-index: 20;
  visibility: hidden;
  display: flex;
  display: -webkit-flex;
}

.btn-2 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 0;
  cursor: pointer;
  line-height: 45px;
  -webkit-transition: letter-spacing 230ms ease-in-out;
  transition: letter-spacing 230ms ease-in-out;
}

.btn-right {
  margin-left: 110px;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

#msgform {
  visibility: hidden;
}